body {
    font-family: "Montserrat";
    color: #212121
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.box {
   display: flex;
   font-size: 14px;
   letter-spacing: 0.42px;
}

.basket {
    margin: 0 66px
}

.font-logo {
   display: flex;
   align-items: center;
   font-weight: 700;
   font-size: 24px;
   gap: 10px;
   text-transform: uppercase;
   letter-spacing: 1.2px;
   margin: 0 55px;
}

ul {
    list-style: none;
}

