/* h1 {
    color: green;
    margin-bottom: -20px;
}

h2 {
    color: darkolivegreen;
}

p {
    text-align: left;
    width: 400px;
} */

/* h1 {
    color: olive;
    margin-bottom: -10px;
    margin-left: 20px;
} */

/* h1 {
    margin-left: 20px;
    margin-bottom: -15px;
  } */




  /* * {
    padding: 0;
    margin: 0;
    background-color: navajowhite;
}

.wrapper {
    width: 400px;
    padding: 50px;
    border-right: 7px ridge skyblue;
}

p {
    text-indent: 20px;
    font-size: 20px;
    text-align: justify;
}

.border {
    border-left: 0.2em dashed;
    padding: 20px;
    border-color: blue;
} */



/* * {
    margin: 0;
    padding: 0;
    background-color: bisque;
}

.block-wrapper {
    display: flex;
    justify-content: center;
    padding: 35px;
    width: 500px;
    padding-bottom: 2px;
    border-left: 5px solid skyblue;
}

.block-wrapper p {
    background-color: black;
    color: orange;
    border: 3px solid red;
    text-align: justify;
    text-indent: 20px;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
} */




/* * {
    padding: 0;
    margin: 0;
    box-sizing: border border-box;
}

body {
    background-color: darkcyan;
}

.container {
    border-left: ridge skyblue 8px;
    padding: 35px;
    width: 500px;
    overflow: scroll;
    height: 410px;
    font-family: 'Courier New', Courier, monospace;
}

.block {
    margin-bottom: 20px;
    text-align: justify;
    height: 80px;
    overflow: scroll;
    background-color: bisque;
    padding: 20px;
    border-top: thick double green;
    border-bottom: thick double green;
    text-indent: 25px;
}

.block_2 {
    margin-bottom: 20px;
    height: 80px;
    overflow: hidden;
    background-color: bisque;
    text-align: justify;
    padding: 20px;
    border-top: thick double green;
    border-bottom: thick double green;
    text-indent: 25px;
}

.block_3 {
    height: 80px;
    overflow: scroll;
    background-color: bisque;
    text-align: justify;
    padding: 20px;
    border-top: thick double green;
    border-bottom: thick double green;
    text-indent: 25px;
} */




/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    padding: 20px;
    width: 600px;
    border-left: 2px solid lightgray;
    line-height: 25px;
}

code {
    border: 1px lightgrey solid;
    background-color: #f4f7f8;
}

.border {
    height: 35px;
    margin-bottom: 20px;
    display: block;
    /* padding: 10px; */
    /* padding-left: 10px;
    padding-top: 4px;
    overflow-x: scroll;
}

p {
    margin-bottom: 20px;
}

h3 {
    padding-bottom: 20px;
}

.frame {
    padding: 4px 6px;
    border-radius: 2px;
} */ 



