.dropdown {
    position: relative;
    display: inline-block;
}

.drop-button {
    background-color: cornflowerblue;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.drop-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgb(0, 0, 0, .2);
    z-index: 1;
}

.drop-content a {
    text-decoration: none;
    display: block;
    color: #000;
    padding: 12px 16px;
}

.drop-content a:hover {
    background-color: aquamarine;
}

.dropdown:hover .drop-button {
    background-color: #3e8e41;
}

.dropdown:hover .drop-content {
    display: block;
}