* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    padding: 20px;
    width: 600px;
    border-left: 2px solid lightgray;
    line-height: 25px;
}

code {
    border: 1px lightgrey solid;
    background-color: #f4f7f8;
}

.border {
    height: 35px;
    margin-bottom: 20px;
    display: block;
    /* padding: 10px; */
    padding-left: 10px;
    padding-top: 4px;
    overflow-x: scroll;
}

p {
    margin-bottom: 20px;
}

h3 {
    padding-bottom: 20px;
}

.frame {
    padding: 4px 6px;
    border-radius: 2px;
}