* {
    padding: 0;
    margin: 0;
    box-sizing: border border-box;
}

body {
    background-color: darkcyan;
}

.container {
    border-left: ridge skyblue 8px;
    padding: 35px;
    width: 500px;
    overflow: scroll;
    height: 410px;
    font-family: 'Courier New', Courier, monospace;
}

.block {
    margin-bottom: 20px;
    text-align: justify;
    height: 80px;
    overflow: scroll;
    background-color: bisque;
    padding: 20px;
    border-top: thick double green;
    border-bottom: thick double green;
    text-indent: 25px;
}

.block_2 {
    margin-bottom: 20px;
    height: 80px;
    overflow: hidden;
    background-color: bisque;
    text-align: justify;
    padding: 20px;
    border-top: thick double green;
    border-bottom: thick double green;
    text-indent: 25px;
}

.block_3 {
    height: 80px;
    overflow: scroll;
    background-color: bisque;
    text-align: justify;
    padding: 20px;
    border-top: thick double green;
    border-bottom: thick double green;
    text-indent: 25px;
}
